section.conversions {

  svg {
    //Formats the svg icons for each conversion
    width:70px;
    height:70px;
    float: top;
    display: block;
    margin: auto;
    padding-bottom: 10;
    fill: url(#g1);
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    stroke-width: 2;
  }
  svg:hover {
    // transform: translate(0, 200px);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
    cursor: pointer;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all ease 1s;
  }

  .path {
    width:70px;
    height:70px;
  }
  .color1 {
    stop-color: $theme-secondary;
  }
  .color2 {
    stop-color: $theme-tertiary;
  }

  p {
    text-align: center;
  }
  .feature-partner {
    margin: 25px auto 0;
  }
}
